@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&family=Lugrasimo&family=Roboto+Slab:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(14, 29, 29);
  
}

.container{
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 28px;
    background: transparent;
    border: 1px solid  rgb(119, 37, 37);
  
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #f7ecec;
    background-color: black;
    padding: 12px 16px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: #e7dede;
    opacity: 0.5;

}
.search-box input::placeholder:hover{
    background-color: reds;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: rgb(219, 29, 29);
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: #fff;
    background-color: #84db11;
    transition: 0.5s;
}

.weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    display: none; 
}
.weather-body img{
    width: 60%;
  
}

.weather-box{
    margin-block: 20px;
    text-align: center;
    
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
    color: rgb(236, 35, 119);

}

.weather-box .temperature sup{
   
    font-size: 20px;
    position: absolute;
    font-weight: 600;
    
    
   
   
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(9, 189, 39);
    font-family: 'Lugrasimo', serif;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.humidity, .wind{
    display: flex;
    align-items: center;
    margin-left: 30px;
  
}   

.humidity{
    margin-left: 20px;
    color: #d3c71c;
}

.wind{
    margin-right: 20px;
    color: #8405ec;
}

.weather-details i{
    font-size: 36px;
  
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
    
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
   color: #ce9d9d;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}